html {
    height: 100%; width: 100%; margin: 0;
}

body {
    height: 100%; width: 100%; margin: 0;
    background: linear-gradient(to left bottom, #32313B 40%, #25242c 40%);
    /*ea3e8b pink*/
    /*25242c dark color*/
    /*32313B less dark*/
    /*0099b4 blue*/
    /*01b94e green*/
}

#background {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-80deg);
    z-index: -1;
    width: 300px;
    height: 2000px;
    background-color: #25242C;
    position: fixed;
    top: -950px;
    left:500px;
}

#top {
    width: 1%;
    padding: 4%;
    box-sizing: border-box;
    position: relative;
}

img {
    position: relative;
    display: block;
    margin: auto;   
    height: auto; 
    width: 97%;
    max-width: 860px;
    padding-top: 
}

/*.btn {
  background:#212531;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
  
  display:inline-block;
  padding:0.75em 2.0em;
  font-size:1.5em;
  text-align:center;
  margin:0.25em 0;
  color:#ffffff;
  font-weight:normal;
  text-transform:uppercase;
  font-family:sans-serif;
}

.btn:hover, .btn:focus {
  background:#2d3d64;
  background: linear-gradient(to right bottom, #415382 50%, #2d3d64 50%);
}

.bigger {
  padding:2.25em 3.0em;
}

body { text-align:center; background:#e6e9f6; padding-top:1.0em; }
a { text-decoration:none; }

<a class="btn" href="#">Check Out My Background</a><br>
<a class="btn bigger" href="#">So Responsive</a>*/
